
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url(../css/root.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
    /* outline: 1px solid red !important; */
}

.max-w-1140{
    max-width: 1140px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 49;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    /* color: var(--white); */
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    transition: all 400ms linear;
    width: 60px;
    height: 60px;
    border: 2px solid var(--black);
  } 
  .minus_box{
    border: 2px solid var(--black);
    width: 60px;
padding: 2px 24px;
height: 53px;
  }
  .plus_box{
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    border-top: 2px solid var(--black);
    width: 60px;
padding: 2px 24px;
height: 53px;
}
   
 
.cootod{
    filter: drop-shadow();
}
@font-face {
    font-family: 'ModernoFBComp';
    src: url(../fonts/modernofbcomp.otf);
}
@font-face {
    font-family: 'Perpetua Titling MT';
    src: url(../fonts/PERTIBD.TTF);
}
.mt-font{
    font-family: 'Perpetua Titling MT',sans-serif;
}
.modern{
    font-family: 'ModernoFBComp',sans-serif;
}
.bg_image_body{
    background-image: url(../images/25thFeb.png) !important;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center ;
 
}
.pt-25{
    padding-top: 25px;
}
.border_t_b{
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}
.max-w-1440{
    max-width: 1440px;
}
.breaking_news{
    max-width: 1140px;
}
.border-t-b{
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}
.pb-64{
    padding-bottom: 64px;
}
.pt-67{
    padding-top: 67px;
}
.mar_ch{
    max-width: 475px !important;

}
.para_1{
    max-width: 475px;
}
.pt-16{
    padding-top: 16px;
}
.border_all{
    border: 2px solid var(--black);
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}
.border_all_2{
    border: 2px solid var(--black);
    border-top: 0;
    border-bottom: 0;
}
.border-t{
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}
.line-1{
    max-width: 1440px;
height: 2px;
background: var(--black);

}
.pt-89{
    padding-top: 89px;
}
.pb-90{
    padding-bottom: 90px;
}
.etiam_eg{
    max-width: 283px;
}
.gap-11{
    gap: 11px;
}
.pt-13{
    padding-top: 13px;
}
.diam_tel{
    max-width: 327px;
}
.pt-15{
    padding-top: 15px;
}
.read_more{
    border-bottom: 1px solid var(--black);
    /* display: inline-block; */
    max-width: 95px;
}
.padding_box{
    padding: 48px 28px 46px 27px;
    
}
.padding_box_2{
    padding: 48px 46px 46px 27px;
}
.padding_box_3{
    padding: 48px 27px 46px 26px;
}
.border_left{
    border-left: 2px solid var(--black);
    z-index: 0 !important;
    
}
.border_right{
    border-right: 2px solid var(--black);
    z-index: 0;
    
}
.border_box{
    border-left: 2px solid var(--black) !important; 
    border-right: 2px solid var(--black) !important;
    z-index: 2 !important;
}
/* .pl-27{
    padding-left: 29px;
}
.pl-26{
    padding-left: 29px;
} */
 
.next_pos {
    position: absolute;
    top: -50%;
    right: 0;
    transform: translateY(-50%);

}
 
.prev_pos {
    position: absolute;
    top: -50%;
    right: 8%;
    transform: translateY(-50%);

}
.pt-88{
    padding-top: 88px; 
    }
.pb-89{
    padding-bottom: 89px;

}
.most_of{
    max-width: 438px;
}
.padding_col{
    padding-top: 44px;
    padding-bottom: 47px;
    padding-left: 25px;
    
}
.pl-20{
    padding-left: 20px;
} 
.plus_minus{
    max-width: 238px;
    width: 100%;
    border: 2px solid var(--black);
    
}
 
.padding_minus{
    padding: 2px 24px;
    width: 109px;
    height: 53px;
    border-right: 2px solid var(--black); 
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    
}
.padding_plus{
    padding: 2px 24px;
}
.mt-15{
    margin-top: 15px;
}
.mint_btn{
    padding: 12px 16px;
    background-color: var(--yellow);
    border: 2px solid var(--black);
    max-width: 111px;
}
.mt-35{
    margin-top: 35px;
}
.pt-36{
    padding-top: 36px;
} 
.max-width{
    max-width: 570px;
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);

    
}
.pb-21{
    padding-bottom: 21px;
}
.pt-21{
    padding-top: 21px;
}
.pt-12{
    padding-top: 12px;
}
.left_border{
    border-left: 2px solid var(--black);
}
.bg_image2{
background-image: url(../images/bg-image2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center ;
 
}
.wid_padding{
    /* max-width: 570px; */
width: 100%;
padding: 40px 56px;
min-height: 326px;
height: 100%;
/* border-right: 2px solid #000000; */
border-left: 2px solid var(--black);
}
.wid_padding_2{
       /* max-width: 570px; */
/* width: 100%; */
min-height: 326px;
height: 100%;
padding: 40px 45px;
/* border-right: 2px solid #000000; */
border-left: 2px solid var(--black);
}
 
.cry_pto{
    max-width: 470px;
}
.border__left{
    /* border-left: 2px solid black; */
    border-right: 2px solid var(--black);
}
.margin_minus_2{
    margin-top: -70px;
}
.margin_minus_3{
    margin-top: -159px;
}
.margin_minus_4{
    margin-top: -84px;
}
.margin_minus_5{
    margin-top: -60px;
}
.margin_minus_6{
margin-top: -50px;
}
.margin_minus_7{
margin-top: -65px;
}
 .gap-7{
    gap: 7px;
 }
 .pt-13{
    padding-top: 13px;
 }
 .pb-14{
    padding-bottom: 14px;
 }
 .pl-62{
    padding-left: 31px;
    padding-right: 31px;
 }
 .hustlin_har{
    max-width: 103px;
 }
 .pb-22{
    padding-bottom: 22px;
 }
 .gap-18{
    gap: 18px;
 }
 
 .connect_btn{
    max-width: 165px;
    border: 2px solid var(--black);
    padding: 12px 16px;
    background: var(--yellow);
 }
 .gap-20{
    gap: 20px;
 }
 .gap-62{
    gap: 62px;
 }
 .ml-62{
    margin-left: 62px;
 }
 .pt-8{
    padding-top: 8px;
 }
 .pb-15{
    padding-bottom: 15px;
 }
 
.pb_ml_0 {
    padding-left: 0;
    margin-bottom: 0;
}
.pl-43{
    padding-left: 43px;
}
.gap-55{
    gap: 55px;
}
.responsive .slick-slide{
    height: inherit !important;
    display: flex !important;
}
.responsive .slick-track{
display: flex !important;
}
.responsive .slick-slide>div{
    display: flex;
}
/* .border_two_side{
    border-right: 2px solid var(--black);
    border-left: 2px solid var(--black);
} */
.responsive_1 .slick-slide{
    height: inherit !important;
    display: flex !important;
}
.responsive_1 .slick-track{
display: flex !important;
}
.responsive_1 .slick-slide>div{
    display: flex;
}  


 

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
    
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  }
  

 
.max-w_nft{
    max-width: 992px;
    padding-bottom: 24px;
    padding-left: 30px;
}
.accord_1{
    background-color: transparent !important;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 41px;
    max-width: 1140px !important;
    width: 100% !important;
    height: 100%;
    
}
.accordion-button{
    background-color: transparent;
}
.accordion {
    
    --bs-accordion-border-radius: none !important;
    /* --bs-accordion-inner-border-radius: none !important; */
     }
.border_accordian{
    
    border-bottom: 2px solid var(--black) !important;
}
.border_accordian_2{
border-bottom: none;
}
 
.accordion-button:focus {
    z-index: 3;
    outline: 0;
     box-shadow: none;
border-radius: 0 !important;
}
.border_accordain_3{
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
}
  
.border_accordian {
    
    border-bottom: 2px solid  var(--black) !important;
}
.accordion-item {
    color: transparent !important;
    background-color: transparent !important;
    border:none;
}

.accordion-button:not(.collapsed) {
color: var(--black);
   box-shadow: none; 
     background-color: transparent;
}
.border_accordian_1{
    border-top: 2px solid var(--black);
border-bottom: 2px solid var(--black);
}

/* The actual timeline (the vertical ruler) */
.main-timeline {
    position: relative;
  }
  
  /* The actual timeline (the vertical ruler) */
  .main-timeline::after {
    content: "";
    position: absolute;
    width: 20px;

background-image: url(../images/Line-81.png);
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
    top: 0;
    bottom: 0;
    left: 49.5%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 59px;
    right: -30px;
    background-image: url(../images/Group50.png);
    top: -4px;
    border-radius: 50%;
    z-index: 1;
  }
  .right::after {
    left: -30px;
  }
  .margin_minus{
    margin-top: -170px;
  }
  
  /* Place the container to the left */
  .left {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  .pt-10{
    padding-top: 10px;
  }
  .pt-99{
    padding-top: 99px;
  }
  .pb-78{
    padding-bottom: 78px;
  }
  .the_concept{
    max-width: 495px;
  }
  /* Add arrows to the left container (pointing right) */
  /* .left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  } */
  
  /* Add arrows to the right container (pointing left) */
  /* .right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  } */
  
  /* Fix the circle for containers on the right side */
   
  
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: none
    --bs-card-border-radius: none;
    --bs-card-box-shadow: none;
    --bs-card-inner-border-radius:  none;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: transparent;
    ard-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: black;
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}
.p_4{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.border_l_r{
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);

}
.pt-32{
    padding-top: 32px;
}
.pb-24{
    padding-bottom: 24px;
}
.cursor{
cursor: pointer;
}
.connect_btn:hover{
background-color: transparent;
color: var(--yello);
transition: all 400ms linear;

}
 
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 768px) {
    /* Place the timelime to the left */
    .main-timeline::after {
      left: 31px;
    }
  
    /* Full-width containers */
    .timeline {
      width: 100%;
      padding-left: 70px;
      padding-right: 0px;
    }
  
    /* Make sure that all arrows are pointing leftwards */
    .timeline::before {
      left: 60px;
      border: medium solid var(--white);
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
      left: 1px;
    }
  
    .left::before {
      right: auto;
    }
  
    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

@media (max-width:767px) {
    .mobile_view {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 300ms linear;
        z-index: 4;
        backdrop-filter: blur(20px);
    }

    .menu {
        z-index: 101 !important;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--black);
        display: block;
        border-radius: 30px;
        
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
    }

    .right {
        left: 0%;
    }
}

@media (max-width:767px) {
    .flex-col {
        flex-direction: column;
    }

    .gap_36 {
        gap: 12px;
    }

    .over_flow_x {
        overflow-x: scroll;
    }
}
@media (min-width: 768px) {
    .box_1{
        /* width: 121px; */
        border-left: 2px solid var(--black);
        border-right: 2px solid var(--black);
        
    }
    .box_1_p{
        border-right: 2px solid var(--black);
       
    }
    .gap-178{
        gap: 178px;
     }
   
    
}
@media (min-width: 767px) {
    .padding_none{
        padding-left: 24px;
        padding-right: 24px;
    }
    .d_md_block{
        display: none;
    }
    
}

@media (max-width: 767px) {
    .gap_48{
        gap: 48px;
    }
    
}
@media (max-width: 578px) {
    .pt-25{
        padding-top: 0;
    }
    .pl-43 {
        padding-left: 13px;
    }
    .max-w_nft{
        padding-left: 18px;
    }
}
@media (max-width: 992px) {
    .border_all{
        border: 2px solid var(--black);
        border-top: 0;
        border-bottom: 0;
        border-right: 2px solid var(--black);
    }
    .pt-20-20{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .left_border_1{
        border-right: 2px solid var(--black);
    }
    
}
@media (max-width: 768px) {
    .pt-89{
        padding-top: 30px;
    }
    .pb-90{
        padding-bottom: 30px;
    }
    .pt-88{
        padding-top: 40px; 
        }
    .pb-89{
        padding-bottom: 40px;
    
    }
    .pt-99{
        padding-top: 40px;
    }
    .pb-78{
        padding-bottom: 40px;
    }
    .read_more{
       
        /* display: inline-block; */
        max-width: 83px;
    }

    
    .accord_1{
        padding-right: 14px;
        padding-top: 10px;
     padding-left: 0;
        padding-bottom: 10px;
    }
    .max-w_nft{
        padding-top: 0;
    }
    
.next_btn{
    height: 30px;
    width: 25px;
}
.prev_btn{
    height: 30px;
    width: 25px;
}
.pb-64{
    padding-bottom: 30px;
}
.pt-67{
    padding-top: 30px;
}
.margin_minus{
    margin-top: -25px;
}
.margin_minus_2{
    margin-top: -25px;
}
.margin_minus_3{
    margin-top: -25px;
}
.margin_minus_4{
    margin-top: -25px;
}
.margin_minus_5{
    margin-top: -25px;
}
.margin_minus_6{
    margin-top: -25px;
}
.margin_minus_7{
    margin-top: -25px;
}
.p_4{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
}
 
}
@media (max-width: 500px) {
    
.border_left{
    border-left: none;
   
}
.border_right{
    border-right: none;
}
}
@media (max-width: 767px) {
    .btn_1{
        display: block;
    }
}